.favorites_tablinks.active {
	color: var(--accent-text);
}

.reload-button {
	&.reload-button--inline {
		display: inline-block;
	}

	&.spin {
		i {
			animation: spin 500ms infinite ease-out reverse;
		}
	}
}
