/* Releases */
.release {
	.primary-text,
	.secondary-text {
		margin: 0rem;
		margin-bottom: 0.25rem;
	}

	.secondary-text {
		opacity: 0.75;
		font-size: 0.875rem;

		.material-icons {
			font-size: 1.0625rem !important;
			margin-left: 0.25rem;
		}
	}
}

.release_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
	grid-gap: 1rem;
}
