/* Top Result */
.top_result {
	@apply flex items-center flex-col;
	// display: flex;
	// align-items: center;
	// flex-direction: column;

	> .cover_container {
		width: 9.75rem;
		height: 9.75rem;
	}

	.info_box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0.9375rem;

		.primary-text,
		.secondary-text {
			font-size: 1.125rem;
			text-align: center;
		}

		.primary-text {
			margin-bottom: 0.3125rem;
		}

		.secondary-text {
			margin-bottom: 0.625rem;
		}

		.tag {
			width: 2.5rem;
			text-align: center;
		}
	}
}

/* Releases */
.release {
	.primary-text,
	.secondary-text {
		margin: 0rem;
		margin-bottom: 0.25rem;
	}

	.secondary-text {
		opacity: 0.75;
		font-size: 0.875rem;

		.material-icons {
			font-size: 1.0625rem !important;
			margin-left: 0.25rem;
		}
	}
}

.release_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
	grid-gap: 1rem;

	&.firstrow_only {
		grid-template-rows: 1fr;
		grid-auto-rows: 0;
		grid-row-gap: 0rem;
		overflow-y: hidden;
	}
}
