.settings-group {
	@apply flex flex-col justify-center pt-5 pb-5;
	border-top: 1px solid theme('colors.grayscale.500'); /* Need less opacity */

	> * {
		margin-bottom: 1rem;
	}
}

.settings-group__header {
	display: inline-flex;
	align-items: center;
	margin-bottom: 1.5625rem;
	font-size: 1.5rem;

	i.material-icons {
		margin-right: 15px;
	}
}

.settings-container {
	display: flex;

	&__half {
		width: 50%;
	}

	&__third {
		width: 33%;

		&--only-checkbox {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center;
		}
	}

	&__half > *,
	&__third > * {
		margin-bottom: 15px;
	}
}

.with-checkbox {
	display: flex;
	align-items: center;

	[type='checkbox'] {
		cursor: pointer;
	}

	.checkbox_text {
		margin-left: 10px;
		cursor: pointer;
		user-select: none;
	}
}

/* Input group */
.input_group {
	margin-bottom: 25px;

	.input_group_text {
		margin-bottom: 7px;
	}

	.with-checkbox + & {
		margin-top: 10px;
	}
}
