.settings-group {
	@apply border-t border-grayscale-500;
}

.settings-group__header {
	@apply inline-flex items-center py-8 text-2xl;

	i.material-icons {
		@apply mr-4;
	}
}

.settings-container {
	display: flex;

	&__half {
		width: 50%;
	}

	&__third {
		width: 33%;

		&--only-checkbox {
			@apply flex flex-col items-start justify-center;
		}
	}

	&__half > *,
	&__third > * {
		@apply mb-4;
	}
}

.with-checkbox {
	display: flex;
	align-items: center;

	[type='checkbox'] {
		cursor: pointer;
	}

	.checkbox-text {
		margin-left: 10px;
		cursor: pointer;
		user-select: none;
	}
}

/* Input group */
.input-group {
	.input-group-text {
		@apply mb-2;
	}
}
