.search_tabcontent,
.main_tabcontent,
.favorites_tabcontent {
	display: none;
}

.main_tabcontent h1 {
	margin-bottom: 12px;
}

.tab button {
	background-color: var(--main-background);
	color: var(--foreground);
}

.tab button.active {
	background-color: var(--accent-color);
}

.release {
	display: inline-block;
	width: 156px;
}

.release .cover_container {
	width: 156px;
	height: 156px;
	margin-bottom: 10px;
}

.main_tablinks_text {
	overflow: hidden;
	white-space: nowrap;
}

.section-tabs {
	list-style-type: none;
	display: flex;
	margin: 16px 0 24px 0;
	cursor: pointer;

	&__tab {
		flex: 1;
		font-size: 1.2rem;
		padding: .8em;
		border-top: 3px solid var(--foreground);
		text-align: center;

		&.active {
			color: var(--accent-color);
			border-top: 3px solid var(--accent-color);
		}
	}
}
