@import './download-tab.css';
@import './favorites-tab.css';
@import './home-tab.css';
@import './search-tab.css';
@import './settings-tab.css';
@import './tracklist-tab.css';

.search_tabcontent,
.main_tabcontent,
.favorites_tabcontent {
	display: none;
}

.main_tabcontent h1 {
	margin-bottom: 12px;
}

.tab button {
	background-color: var(--primary-background);
	color: var(--main-text);
}

.tab button.active {
	background-color: var(--accent-color);
}

.release {
	display: inline-block;
	width: 156px;
}

.release .cover_container {
	width: 156px;
	height: 156px;
	margin-bottom: 10px;
}

.main_tablinks_text {
	overflow: hidden;
	white-space: nowrap;
}