#sidebar {
	display: flex;
	flex-direction: column;
	width: 48px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--panels-background);
	color: var(--panels-text);
	transition: width 125ms ease-in-out 75ms;
	z-index: 999;

	&:hover {
		width: 200px;
	}

	.main_tablinks {
		&.active .side_icon {
			color: var(--accent-color);
		}

		&:not(#theme_selector) {
			display: flex;
			align-items: center;
			margin-top: 5px;
			cursor: pointer;

			&:hover {
				background-color: #3e3e3e;
			}
		}
	}

	.main_tablinks_text {
		display: none;
		display: inline-block;
		margin-left: 20px;
		opacity: 0;
		visibility: hidden;
		transition: all 50ms ease-in-out 200ms;
	}

	.side_icon {
		font-size: 30px;
		padding: 9px;

		&.side_icon--theme {
			cursor: default;
		}

		&::selection {
			background: none;
		}
	}

	&:hover {
		#theme_togglers {
			position: relative;
			opacity: 1;
			visibility: visible;
		}
		.main_tablinks_text {
			display: inline-block;
			opacity: 1;
			visibility: visible;
		}
	}
}

/* Theme selector */

#theme_selector {
	margin-top: 20px;
	display: flex;
	height: 50px;
}

#theme_togglers {
	display: flex;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	transition: all 50ms ease-in-out 200ms;
}

.theme_toggler {
	width: 25px;
	height: 25px;
	border-radius: 1000px;
	border: 1px solid var(--separator);
	cursor: pointer;
	transition: border 200ms ease-in-out;

	&--active {
		border-width: 3px;
	}

	&[data-theme-variant='light'] {
		background: white;
	}

	&[data-theme-variant='dark'] {
		background: #141414;
	}

	&[data-theme-variant='purple'] {
		background: #460ead;
	}
}
