$sidebar-timing: 125ms;
$sidebar-delay: 75ms;

#sidebar {
	width: 15.625rem;
	height: 100vh;

	.main_tablinks {
		@apply text-foreground;

		&.active,
		&:hover {
			background: var(--sidebar-link-bg);

			.side_icon {
				@apply text-primary;
			}
		}
	}

	.theme_toggler {
		transition: border 200ms ease-in-out;

		&--active {
			border-width: 3px;
		}

		&--light {
			@apply bg-white;
		}

		&--dark {
			@apply bg-grayscale-80;
		}

		&--purple {
			background: hsl(261, 85%, 37%);
		}
	}
}
