@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import './base/base';
@import './base/variables';

html {
	height: 100vh;
}

body {
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', 'sans-serif';
	overflow: hidden;
	background: var(--main-background);
	color: var(--foreground);
}

@import './base/normalize';
@import './base/animations';

@import './globals/globals';
@import './globals/tables';

@import './tabs/download-tab';
@import './tabs/search-tab';
@import './tabs/settings-tab';
@import './tabs/tabs';

@import './middle-section';
@import './stackedTabs';
