/* Global stuff */
img.rounded {
	border-radius: 5px;
}

img.circle {
	border-radius: 50%;
}

.coverart {
	background-color: var(--secondary-background);
}

.cover_container {
	position: relative;
}

.cover_container .coverart {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.cover_container .download_overlay {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.cover_container .download_overlay i {
	background-color: #000000;
	color: white;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
}

.cover_container:hover .coverart {
	opacity: 0.75
}

.cover_container:hover .download_overlay {
	opacity: 1;
}

span.tag {
	background-color: var(--tag-background);
	border-radius: 2px;
	color: var(--tag-text);
	display: inline-block;
	font-size: 10px;
	padding: 3px 6px;
}

.tracks_table {
	width: 100%;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
}

.tracks_table td {
	padding: 4px 12px 4px 5px;
	vertical-align: middle;
	border: 0px black solid;
}

td img {
	vertical-align: middle;
}

.tracks_table tr:nth-child(even) {
	background-color: var(--secondary-background);
	border: 0px black solid;
}

p,
.tracks_table td.breakline {
	word-break: break-word;
}

.clickable {
	cursor: pointer;
}

.toastify {
	display: flex;
	align-items: center;
	box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(0, 0, 0, 0.3);
	background: var(--toast-background);
	color: var(--toast-text);
}

.inline-flex {
	display: flex;
	align-items: center;
}

.secondary-text .material-icons {
	font-size: 17px !important;
	margin-left: 4px;
}

button {
	font-family: inherit;
	font-weight: 600;
	font-size: 14px;
	padding: 0px 8px;
	margin-right: 8px;
	height: 36px;
	background-color: var(--accent-color);
	border: 0px solid black;
	border-radius: 4px;
	min-width: 64px;
	text-transform: uppercase;
	color: var(--accent-text);
}

button[disabled] {
	background-color: var(--secondary-background);
	color: var(--main-text);
	opacity: 0.75;
}

input[type="text"],
input[type="password"],
input[type="number"] {
	width: calc(100% - 16px);
	border: 0px solid black;
	line-height: 36px;
	padding: 0px 8px;
	border-radius: 4px;
	background-color: var(--secondary-background);
	color: var(--primary-text);
	margin-bottom: 8px;
}

.right {
	float: right;
}

.fixed_footer footer {
	position: sticky;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-end;
	background-color: var(--main-background);
	bottom: 0px;
	height: 64px;
	width: 100%;
	margin-top: 24px;
}