.image_header header{
	background-position: 0% 35%;
	background-size: cover;
	padding: 220px 24px 8px;
	border-radius: 8px 8px 0px 0px;
}

.image_header header h1,
.image_header header h2{
	margin: 0px;
}

.image_header header h2{
	margin: 0px;
	font-size: 18px;
	margin-bottom: 12px;
}
