/* Tabs */
.search_tabcontent,
.main_tabcontent,
.favorites_tabcontent {
	display: none;
}

.main_tabcontent h1{
	margin-bottom: 12px;
}

.tab button{
	background-color: var(--primary-background);
}

.tab button.active{
	background-color: var(--accent-color);
}
